footer
  .container.text-center
    p.pull-left © 2016 Insight Hackathon @UCD. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/josmas/reproducible_research') GitHub Project
