extends layout

block content
  h1 Reproducible research
  p.lead Starts with data cleaning!
  hr
  .row
    if !originalname
      .col-sm-10
        h2 Select file to clean
        form(role='form', enctype='multipart/form-data', method='POST')
          .form-group
            label(class="btn btn-dropbox btn-file")
              input(type="file", name='myFile', id="dataFile", style="display: none;")
              | Upload your Data file
          p
            #dataFileDiv
            button.btn.btn-primary(type='submit') Submit
    else
      .col-sm-10
        h2 Preview of the Data
        p The data file #{originalname} is being processed.
        p We will check and automatically load the results once they are ready.

  .row
    .col-sm-10
      h2 Or choose an already existing project from the list
      table(class="table table-striped table-bordered table-condensed")
        thead
          tr
            th File Name
        tbody
          each file in theFiles
            tr
              td #{file}